:root{
    --blue-color: rgb(0,90,161);
}

html {
  font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: rgb(238, 242, 245)
}

.container{
    margin:0;
    padding:0;
}
#left-logo{
    margin-left:2.5%;
}
#right-logo{
    margin-right:2.5%;
    margin-top:1%;
    margin-bottom:1%;
}


header{
  margin-top:1.5rem;
  margin-bottom:2rem;
}


.body {
    width: 70%;
    margin: auto;
}
.navbar{
    padding:0;
}
.navigation-control {
    display: inline;
    width: 60%;
    justify-content:left;
    margin: auto;
    margin-bottom:0;
    margin-top:0;
    display: flex;
    height:5rem;
}

.main-nav-redirect {
    text-decoration: none;
}

#navigation-event {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
    #navigation-event .main-nav-redirect {
        margin-left: 1rem;
        margin-right: 1rem;
        font-weight: bolder;
        color:black;
    }
    #navigation-home {
        display: flex;
        align-content: center;
        align-items: center;
        height: 100%;
      
        text-align: center;
    }
        #navigation-home .main-nav-redirect {
            margin-left: 1rem;
            margin-right: 1rem;
            color:black;
            font-weight:bolder;
        }
    



.upper-grid{
    display:flex;
    flex-direction:row;
    margin-bottom:2rem;
}

#grid-image{
    width:50%;
    height:auto;
}
#text{
    padding:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    color:white;
    background-color: var(--blue-color);
}
