html {
  font-size: 14px;
}

body {
    margin-bottom: 60px;
    background-color: rgb(238, 242, 245)
}

header{
  
}
.body {
    width: 70%;
    margin: auto;
}
.navigation-control {
    display: inline;
    width: 60%;
    margin: auto;
    margin-top: 2%;
    display: flex;
}

