@{
    ViewData["Title"] = "Home Page";
}


<div class="content-grid">
    <div class="upper-grid">
        
        <div id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Mauris lobortis libero ac turpis varius pharetra ut lacinia elit. 
        Nam eleifend sed neque vel convallis</div>

        <div id="grid-image">
            <img src="/img/Main-Image.jpg" />
        </div>

    
    </div>

</div>